<% if page.foreign_link.present? %>
  <li class="d-flex justify-content-between align-items-center mobile-navigation-list-item"><%= link_to page.title, page.foreign_link, target: '_blank', rel: 'nofollow', class: 'w-75' %></li>
<% else %>
  <% page_uri = Rails.application.routes.named_routes[:spree].path.spec.to_s == '/' ? page.slug : Rails.application.routes.named_routes[:spree].path.spec.to_s + page.slug %>
  <li class="<%= 'current' if (request.fullpath.gsub('//','/') == page_uri) %> d-flex justify-content-between align-items-center mobile-navigation-list-item"><%= link_to page.title, page_uri, class: 'w-75' %></li>
<% end %>
