.value-1-container,
.value-2-container,
.value-3-container {
  display: grid;
}

.value-heading {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  background-color: $dark-gold;
}

.value-content {
  line-height: 38px;
}

.value-3-img {
  width: 300px;
}

// First value section
// phone screens
// @media only screen and (max-width: 576px) {
  .value-1-container {
    grid-template-columns: 90%;
    grid-template-rows: 1rem auto auto;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .value-1-img {
    height: 40vh;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: flex-end;
  }

  .value-heading.value-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    p {
      width: 50vw;
    }
  }

  .value-content.value-1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
// }

// large phone/portrait tablet screens
@media only screen and (min-width: 576px) {
  .value-1-container {
    grid-template-columns: 90%;
    grid-template-rows: 1rem auto auto;
    justify-content: center;
    margin-bottom: 6rem;
  }

  .value-1-img,
  .value-2-img,
  .value-3-img { height: 40vh; }

  .value-1-img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: flex-end;
  }

  .value-heading.value-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    p {
      width: 50vw;
    }
  }

  .value-content.value-1 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
}

// landscape tablets, laptops and larger screens
@media only screen and (min-width: 768px) {
  .value-1-container {
    grid-template-columns: 235px 50px 50%;
    grid-template-rows: 24px 44px auto;
    justify-content: center;
    margin-bottom: 12rem;
  }

  .value-1-img,
  .value-2-img,
  .value-3-img {
    height: 400px;
  }

  .value-1-img {
    width: 285px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    // justify-self: flex-end;
  }

  .value-heading.value-1 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;

    p {
      width: unset;
    }
  }

  .value-content.value-1 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
}


// Second value section
// phone screens
.value-2-container {
    grid-template-columns: 90%;
    grid-template-rows: 1rem auto auto auto;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .value-2a-img {
    // height: 40vh;
    width: 60%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
  }

   .value-2b-img {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .value-heading.value-2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    z-index: 1;

    p {
      width: 50vw;
    }
  }

  .value-content.value-2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

// landscape tablets, laptops and larger screens
@media only screen and (min-width: 768px) {
  .value-2-container {
    grid-template-columns: 100px 100px 200px auto;
    grid-template-rows: 30px auto auto auto;
    justify-content: center;
    margin-bottom: 12rem;
  }

  .value-2a-img {
    width: 250px;
    grid-column: 4 / span 1;
    grid-row: 1 / span 4;
  }

   .value-2b-img {
    width: 385px;
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
  }

  .value-heading.value-2 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    z-index: 1;

    p {
      width: unset;
    }
  }

  .value-content.value-2 {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }
}

// Third value section
// phone screens
.value-3-container {
    grid-template-columns: 90%;
    grid-template-rows: 1rem auto auto auto;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .value-3a-img {
    // height: 40vh;
    width: 60%;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    justify-self: center;
  }

   .value-3b-img {
    width: 100%;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .value-heading.value-3 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    z-index: 1;

    p {
      width: 50vw;
    }
  }

  .value-content.value-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

// tablets and large phone screens
@media only screen and (min-width: 576px) {
  .value-3-container {
    grid-template-columns: 150px 50px 150px 300px;
    grid-template-rows: 30px auto auto auto;
    justify-content: center;
    margin-bottom: 4rem;
  }

  .value-3a-img {
    width: 200px;
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
  }

   .value-3b-img {
    width: 300px;
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
  }

  .value-heading.value-3 {
    grid-column: 2 / span 3;
    grid-row: 2 / span 1;
    z-index: 1;

    p {
      width: unset;
    }
  }

  .value-content.value-3 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
  }
}

// landscape tablets, laptops and larger screens
@media only screen and (min-width: 769px) {
  .value-3-container {
    grid-template-columns: 200px 50px 150px 385px;
  }

  .value-3a-img {
    width: 250px;
  }

   .value-3b-img {
    width: 385px;
  }
}
