$primary-color: black;
$secondary-color: $dark-gold;
$primary-background: #ffffff;
$secondary-background: #f2f2f2;
$input-background: #ffffff;
$font-color: black;
$font-family: "GFS Didot", sans-serif;
$header-font-color: $font-color;
$header-background: $primary-background;
$meganav-font-color: $font-color;
$meganav-background: $primary-background;
$footer-font-color: $font-color;
$footer-background: $primary-background;
$secondary-font-color: $font-color;
$global-border-style: $dark-gold;
$second-global-border: #e2e2e2;
$spree-header-max-width: 1440px;
$spree-header-mobile-height: 75px;
$spree-header-tablet-height: 100px;
$spree-header-desktop-height: 150px;
