.logo { text-align: center; }

.logo > a > img {
  max-height:50px;
  max-width:200px;
}

.header-spree-fluid-secondary-navigation { flex-basis: 0; }

@media (min-width: 1200px) {
  .logo > a > img { max-height: 100px; }

  .header-spree-fluid-logo { flex-basis: auto; }

  #nav-bar > li { padding: 0.2rem 1rem; }

  #header > div > div {
    flex-wrap: wrap;
    justify-content: center;
  }

  #header > div > div > .logo { width: 1200px; }
}

@media (min-width: 576px) { .logo > a > img { max-height: 100px; } }

@media (max-width: 1200px) {
  // #header > div > div {
  //   // flex-direction: column;

  //   flex-wrap: wrap;
  //   justify-content: center;
  // }

  // .logo {
  //   width: 1200px;
  // }
}

#nav-bar > li {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-nav-bar-item {
  font-size: 18px;
}
