
<% [:success, :error].each do |key| %>
  <% if flash[key] %>
    <div class="alert alert-dismissible show m-1 alert-<%= key %>" id="flash" role="alert">
      <%= flash[key] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
   <% end %>
<% end %>
